<body id="background">
  <div id="abouttron" class="col-xs-8 col-xs-offset-2">
    <div class="text-center">
      <h1>About Dressed</h1>
      <p>
        Inspired by the iconic scene from the movie Clueless, our website allows you to catalog your wardrobe and search through it using various criteria in order to find the perfect outfit! Stop forgetting about the clothes in the back of your closet and try different looks without the mess. Let Dressed be your new stylist and help you live a totally normal life!
      </p>
      <div class="embed-responsive embed-responsive-16by9" id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XNDubWJU0aU" frameborder="0" allowfullscreen></iframe>
      </div>
      <h3>How it Works</h3>
      <p>
        Build your closet by taking pictures of your clothes and adding them in New Item. Use New Item Tag to create better ways to describe your clothes. Use tags to specify anything from season to length to rise to occasion. The possibilities are endless and customizable so you can decide how you get Dressed.
      </p>
    </div>

  </div>
</body>
