<div class="jumbotron" id="smalltron">
<h1 class="text-right"><em>New Item Tag</em></h1>
</div>

<p>Add tag descriptions so you can better organize your closet.</p>
<p><em>Example: Cold Weather, Work Appropriate, etc.</em></p>

<%= render 'form', tag: @tag %>

<br />
<%= link_to 'Show All', tags_path %>
